<template>
<div id="q-app">
<div class="row">
  <div class="col"/>
  <div class="col">
    <h1>{{welcomeString}}</h1>
    <h3>Welcome to the Ruby Play Network UI/UX Coding Test for Summer 2021/2022</h3>
    <h3>Good Luck!</h3>
  </div>
  <div class="col"/>
</div>
</div>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'MainLayout',

  components: {
  },
  data () {
    return {
      welcomeString: 'Hello'
    }
  },
  setup () {
  }
})
</script>
